.advantages {
  width: 255px;
  padding-left: 30px;
}

.advantages__list {
  padding-left: 0;
  list-style-type: none;
}

.advantages__about {
  width: 185px;
  height: 24px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 34px;
}

.advantages__item {
  height: 37px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  padding-top: 85px;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 772px;
    margin: 0 auto;
  }

  .advantages__about {
    width: 387px;
    font-size: 43px;
    line-height: 1.16;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .advantages__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 300px;
    height: 42px;
    font-size: 20px;
    padding-top: 100px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1150px;
    margin: 0 auto;
  }

  .advantages__about {
    width: 400px;
    font-size: 47px;
    line-height: 1.08;
    padding-top: 70px;
  }
}
