.advantages {
  padding-left: 37px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top;
  background-repeat: repeat-x;
  background-size: contain;
  margin-bottom: 24px;
}

.advantages__list {
  padding-left: 2px;
  list-style-type: none;
}

.advantages__about {
  height: 24px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 12px;
}

.advantages__item {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  padding-top: 71px;

  svg {
    position: absolute;
    fill: #63d1bb;
  }
}

.advantages__item:first-child {
  width: 180px;

  &::before {
    content: url("../../img/icon-feature-flower.svg");
    position: absolute;
    top: 17px;
    left: 9px;
  }
}

.advantages__item:nth-child(2) {
  width: 200px;
  padding-top: 83px;

  &::before {
    content: url("../../img/icon-feature-money.svg");
    position: absolute;
    top: 33px;
    left: 1px;
  }
}

.advantages__item:nth-child(3) {
  width: 200px;
  padding-top: 83px;

  &::before {
    content: url("../../img/icon-feature-heart.svg");
    position: absolute;
    top: 38px;
    left: 8px;
  }
}

.advantages__item:nth-child(4) {
  width: 230px;
  padding-top: 83px;

  &::before {
    content: url("../../img/icon-feature-ball.svg");
    position: absolute;
    top: 35px;
    left: 4px;
  }
}

.advantages__item:nth-child(5) {
  width: 300px;
  padding-top: 83px;

  &::before {
    content: url("../../img/icon-feature-rocket.svg");
    position: absolute;
    top: 36px;
    left: -5px;
  }
}

.advantages__item:last-child {
  width: 250px;
  padding-top: 83px;

  &::before {
    content: url("../../img/icon-feature-gift.svg");
    position: absolute;
    top: 34px;
    left: 4px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .advantages__about {
    font-size: 43px;
    line-height: 1.16;
    padding-top: 29px;
    padding-bottom: 0;
    padding-left: 7px;
  }

  .advantages__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -92px;
  }

  .advantages__item {
    width: 300px;
    font-size: 20px;
    line-height: 1.1;
    padding-top: 95px;
    margin-left: 101px;


    &:first-child {
      width: 230px;
      order: 0;

      &::before {
        top: 41px;
        left: 9px;
        width: 32px;
        height: 37px;
      }
    }

    &:nth-child(2) {
      width: 240px;
      padding-top: 111px;
      order: 2;

      &::before {
        top: 58px;
        left: 1px;
        width: 47px;
        height: 27px;
      }
    }

    &:nth-child(3) {
      width: 240px;
      padding-top: 110px;
      order: 4;

      &::before {
        top: 63px;
        left: 8px;
        width: 34px;
        height: 27px;
      }
    }

    &:nth-child(4) {
      width: 250px;
      padding-top: 94px;
      padding-left: 3px;
      order: 1;

      &::before {
        top: 44px;
        left: 8px;
        width: 35px;
        height: 34px;
      }
    }

    &:nth-child(5) {
      padding-top: 111px;
      margin-left: 94px;
      order: 3;

      &::before {
        top: 61px;
        left: -6px;
        width: 55px;
        height: 23px;
      }
    }

    &:last-child {
      padding-top: 111px;
      margin-left: 94px;
      order: 5;

      &::before {
        top: 58px;
        left: 3px;
        width: 33px;
        height: 32px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1150px;
    margin: 0 auto;
  }

  .advantages__wapper {
    width: 800px;
    margin-left: 177px;
    margin-bottom: 90px;
  }

  .advantages__about {
    font-size: 53px;
    line-height: 1.08;
    padding-top: 38px;
    padding-left: 6px;
    margin-bottom: 41px;
  }

  .advantages__item:nth-child(4) {
    margin-left: 116px;
  }

  .advantages__item:nth-child(5),
  .advantages__item:nth-child(6) {
    margin-left: 110px;
  }
}
