.contacts {
  width: 320px;
  padding-left: 56px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top;
  background-repeat: repeat-x;
  background-size: contain;
}

.contacts-topic {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  padding-top: 26px;
  margin-bottom: 10px;
}

.contacts-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  color: #444444;
  font-size: 15px;
  padding-bottom: 14px;
  padding-right: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
}

.contacts-item a {
  margin-top: 17px;
  border-bottom: 1px solid #46c1ae;
  color: #444444;


  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts-item__info {
  margin-right: 32px;
  margin-bottom: 0;
}

.contacts-map {
  background-image: url("../../img/map-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  border: 0;
  display: flex;
  margin: 22px 0 0 0;
  min-height: 457px;


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/map-mobile@2x.jpg");
    background-size: 322px auto;
  }
}

.contacts-map__yandex {
  border: none;
  width: 100%;
}
