
.copyright {
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 25px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  margin: 18px;
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }
}

.copyright__text {
  font-size: 19px;
  font-weight: bold;
  line-height: 0.95;
  text-align: left;
  padding-top: 28px;
  margin: 0;

  &:active {
    opacity: 0.3;
  }
}
