.fast-main {
  width: 322px;
  margin: 0;
  object-fit: contain;
  background-image: url("/img/hero-mobile.png");
  background-position: top center;
  background-repeat: no-repeat;
  border: 0;
}

.fast-main__header {
  width: 100%;
}

.fast-main__header-info {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  padding: 93px 39px 120px 39px;
}

.fast-main__items {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.fast-main__button {
  width: 320px;
  height: 103px;
  color: white;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  padding-right: 185px;
  padding-left: 29px;
  border: 0;
  margin: 0;
}

.toggle--one {
  background-color: #63d1bb;
  margin-top: -15px;
}

.toggle--two {
  background-color: #56c3b2;
}

@media (min-width: @tablet-width) {
  .fast-main {
    display: flex;
    flex-direction: column;
    width: 772px;
    margin: 0 auto;
    align-items: center;
  }

  .fast-main__header {
    width: 100%;
    display: flex;
  }

  .fast-main__header-info {
    width: 494px;
    font-size: 40px;
    line-height: 1.16;
    margin: 0;
    padding-left: 139px;
  }

  .fast-main__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 0;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .fast-main__toggle {
    width: 100%;
  }

  .fast-main__button {
    margin-top: 0;
    width: 100%;
    padding-right: 187px;
    padding-left: 36px;
  }
}

@media (min-width: @desktop-width) {
  .fast-main {
    width: 1150px;
  }

  .fast-main__header-info {
    width: 604px;
    font-size: 47px;
    line-height: 1.08;
    padding-left: 273px;
    padding-right: 273px;
  }

  .fast-main__items {
    width: 100%;
  }

  .fast-main__button {
    padding-right: 377px;
    padding-left: 37px;
  }
}
