.fast-main {
  width: 322px;
  margin: 0;
  object-fit: contain;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: top -17px center;
  background-repeat: no-repeat;
  border: 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.fast-main__header {
  width: 100%;
}

.fast-main__header-info {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  padding: 72px 39px 123px 38px;
  margin: 0;
}

.fast-main__items {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.toggle--one {
  position: relative;
  background-color: #63d1bb;

  &:hover,
  &:active {
    background-color: #59d5bc;
    box-shadow: 0 -5px 0 0  #59d5bc;
  }
}

.toggle--two {
  position: relative;
  background-color: #56c3b2;

  &:hover,
  &:active {
    background-color: #46c1ae;
    box-shadow: 0 -5px 0 0  #46c1ae;
  }
}

.fast-main__button {
  width: 320px;
  height: 103px;
  color: white;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  padding: 0 185px 0 30px;
  border: 0;
  margin: 0;


  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    opacity: 0.3;
  }
}

.toggle--one::after {
  position: absolute;
  content: url("../img/icon-interior.svg");
  width: 40px;
  height: 62px;
  object-fit: contain;
  right: 36px;
  top: 23px;
}

.toggle--two::after {
  position: absolute;
  content: url("../img/icon-toy.svg");
  width: 40px;
  height: 62px;
  object-fit: contain;
  right: 45px;
  top: 21px;
}

.toggle--one:hover::after,
.toggle--two:hover::after {
  opacity: 0.7;
}

@media (min-width: @tablet-width) {
  .fast-main {
    height: 746px;
    display: flex;
    flex-direction: column;
    width: 772px;
    margin: 0 auto;
    margin-top: -65px;
    align-items: center;
    border-top: 1px solid #ececec;
    background-image: url("../../img/hero-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .fast-main__header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .fast-main__header-info {
    width: 500px;
    font-size: 43px;
    line-height: 1.16;
    padding-top: 17px;
    padding-left: 32px;
    margin: 0;
    padding-bottom: 108px;
  }

  .fast-main__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 0;
    margin: 0;
    padding-left: 45px;
    padding-right: 50px;
    margin-top: auto;
  }

  .fast-main__toggle {
    width: 334px;
    position: relative;

    .toggle--one::after {

      top: 29px;
    }

    .toggle--two::after {
      right: 55px;
      top: 32px;
    }
  }

  .fast-main__button {
    margin-top: 0;
    width: 100%;
    height: 121px;
    font-size: 20px;
    line-height: 1.5;
    padding: 26px 187px 36px 33px;
    background-repeat: repeat-x;
    background-position: 50px 108px;
    background-size: auto 19%;
    background-image: url("../../img/bg-zigzag-fill.svg");
  }
}


@media (min-width: @desktop-width) {
  .fast-main {
    width: 1150px;
    background-image: url("../../img/hero-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/hero-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .fast-main__header-info {
    width: 604px;
    font-size: 47px;
    line-height: 1.08;
    padding-left: 273px;
    padding-right: 273px;
  }

  .fast-main__items {
    width: 100%;
  }

  .fast-main__button {
    padding-right: 377px;
    padding-left: 37px;
  }
}
