.fast-main {
  width: 322px;
  object-fit: contain;
  background-image: url("/img/hero-mobile.png");
  background-position: top center;
  background-repeat: no-repeat;
  border: 0;
}

.fast-main__info {
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  padding: 93px 39px 120px 39px;
}

.fast-main__items {
  padding-left: 0;
}

.fast-main__toggle {
  width: 320px;
  height: 103px;
  color: white;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  padding-right: 185px;
  padding-left: 29px;
  border: 0;
  margin: 0;
}

.toggle--one {
  background-color: #63d1bb;
  margin-top: -15px;
}

.toggle--two {
  background-color: #56c3b2;
}
