.form-order {
  width: 320px;
}

.form-order__info {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  padding-left: 30px;
  padding-right: 48px;
  padding-top: 9px;
  color: #444444;
}

.form-order__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
  text-transform: uppercase;
  padding-right: 27px;

  &--color {
    padding-right: 20px;
  }

  &--name {
    padding-right: 20px;
  }

  &--tel {
    padding-right: 30px;
  }
}

label {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.form-order__name {
  margin-left: 29px;
  margin-right: 30px;
  margin-top: 9px;
  padding: 0;

  border: none;
  border-top: 1px solid #63d1bb;
}

.form-order__type,
.form-order__color,
.form-order__contact,
.form-order__commit {
  margin-left: 29px;
  margin-right: 30px;
  margin-top: 25px;
  padding-top: 0;
  padding-left: 0;
  border: none;
  border-top: 1px solid #63d1bb;
}

.form-order__contact {
  margin-top: 32px;
  padding: 0;
}

.type,
.color,
.name {
  display: flex;
  flex-direction: column;
}

.form-order__commit {
  margin-top: 33px;
  padding: 0;

  textarea {
    margin-top: 25px;
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 4px;
  }
}

.form-order__note {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin-top: 9px;
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  .form-order {
    width: 772px;
  }

  .form-order__info {
    font-size: 17px;
    line-height: 1.76;
    padding-left: 50px;
    padding-right: 55px;
    padding-top: 58px;
  }

  label {
    font-size: 19px;
    line-height: 0.95;
  }

  .form-order__type {
    border: none;
    margin-top: 77px;
    margin-left: 51px;
  }

  .form-order__color {
    border: none;
    margin-top: 84px;
    margin-left: 51px;
  }

  .form-order__name {
    border: none;
    margin-top: 84px;
    margin-left: 51px;
  }

  .contact-tel {
    border: none;
    margin-top: 97px;
    margin-left: 50px;
  }

  .contact-mail {
    border: none;
    margin-top: 41px;
    margin-left: 50px;
  }

  .form-order__wapper {
    margin-left: 167px;
    margin-right: 23px;
    margin-top: -44px;
    padding-top: 4px;
  }

  .form-order__commit {
    border: none;
    margin-top: 117px;
    margin-left: 51px;

    textarea {
      width: 450px;
      margin-left: 166px;
      margin-top: -32px;
      padding-top: 14px;
      padding-left: 15px;
      padding-right: 32px;
      margin-right: 55px;
    }
  }

  .form-order__container {
    width: 670px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 14px;
  }

  .form-order__note {
    margin-left: 0;
    margin-right: 0;
    margin-top: 55px;
    font-size: 17px;
    line-height: 1.76;

    order: 1;
  }

  .button--order {
    width: 230px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 46px;
    padding-left: 10px;
  }

  .form-order__wapper-col {
    width: 100%;
    background-color: #f1f1f1;
  }
}
