.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  width: 100%;
}

.page-header__logo-image {
  display: block;
  padding: 22px 118px 22px 116px;
  margin: 0 auto;
  text-align: center;
}

.main-nav__wrapper {
  width: 280px;
  margin: 0 auto;
}

.main-nav__toggle {
  width: 259px;
  height: 52px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  font-size: 18px;
  color: #444444;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 36px;
}

.site-list {
  list-style-type: none;
  font-size: 17px;
  font-weight: bold;
  font-family: "OpenSans", "Arial", sans-serif;
  padding-left: 0;
}

.site-list__item {
  padding: 32px 65px 30px 36px;
  border-bottom: 1px solid #ececec;
  margin: 0;
  text-decoration: none;
  color: black;
}

.site-list__link {
  text-decoration: none;
  color: black;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 772px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    width: 100%;
  }

  .main-nav__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-header__logo {
    position: absolute;
    right: 270px;
    top: 10px;
  }

  .site-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // временно
    min-height: 120px;
    font-size: 10px;
    padding: 0;
  }

  .site-list__item {
    padding: 20px;
  }

  .site-list__item:first-child,
  .site-list__item:nth-child(2) {
    align-self: flex-end;
  }

  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    align-self: flex-start;
  }

  .site-list__item:nth-child(3) {
    margin-left: auto;
  }

  .site-list__item:nth-child(4) {
    margin-left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1150px;
    position: relative;
  }

  .page-header__logo {
    right: 30px;
  }

  .site-list {
    font-size: 14px;
    justify-content: center;
  }

  .site-list__item:first-child,
  .site-list__item:nth-child(2),
  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    align-self: auto;
  }

  .site-list__item:nth-child(2) {
    padding-right: 400px;
  }
}
