.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-wapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: auto;
}

.page-header__logo {
  background-color: pink;
  display: inline-block;
}

.page-header__delivery-info {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 772px;
    margin: 0 auto;
  }

  .page-header__delivery-info {
    display: block;
    order: 4;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1150px;
    position: relative;
  }

  .page-header__logo-wapper {
    order: 2;
  }

  .page-header__logo {
    right: 30px;
  }
}
