.page-footer {
  width: 320px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0 auto;
}

.page-footer__wapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 772px;
  }

  .page-footer__wapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: flex-start;
    padding-top: 21px;
  }

  .page-footer__logo,
  .social,
  .copyright {
    padding-top: 0;
    margin-top: 0;
  }

  .page-footer__logo {
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    padding-bottom: 2px;
    margin-right: 0;

    &:hover {
      fill: #46c1ae;
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1150px;
  }

  .page-footer__wapper {
    width: 1048px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .page-footer__logo {
    margin-left: 0;
  }
}
