.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-wapper {
  display: flex;
  justify-content: center;
  padding: 22px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__delivery-info {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .page-header__logo-wapper--active {
    display: block;
  }

  .main-nav--closed .page-header__logo-wapper--active a {
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 772px;
    margin: 0 auto;
  }

  .page-header__logo-wapper {
    margin-left: 25px;
  }

  .page-header__logo img {
    width: 112px;
  }


  .page-header__delivery-info {
    display: block;
    order: 4;
    margin-left: auto;
    padding-right: 52px;
    padding-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1150px;
  }

  .page-header__logo-wapper {
    order: 2;
    margin: 0;
    padding: 0;
    padding-top: 8px;
  }

  .page-header__logo img {
    width: 149px;
  }
}
