.process {
  width: 320px;
}

.process__wapper {
  margin: 30px;
  border: 1px solid #ececec;
  margin-bottom: 58px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.process-topic {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  padding-left: 89px;
  padding-right: 43px;
  margin-top: 26px;
  margin-bottom: 25px;

  &::before {
    content: url("../../img/icon-video.svg");
    position: absolute;
    left: 33px;
    top: 5px;
  }
}

.process-info {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  padding-right: 40px;
  padding-left: 34px;
  margin-top: 21px;
  margin-bottom: 0;
}

.process-video {
  position: relative;
  height: 150px;

  &::before {
    position: absolute;
    content: url("../../img/icon-play.svg");
    top: 37px;
    right: 30%;
  }

  &:hover::before {
    transform: scale(1.2);
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .process {
    width: 772px;
  }

  .process__wapper {
    width: 668px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 63px;
  }

  .process-topic {
    font-size: 20px;
    line-height: 1.2;
    padding-top: 12px;
    padding-left: 105px;
    margin-bottom: 11px;
    order: 1;

    &::before {
      left: 40px;
      top: 6px;
    }
  }

  .process-video {
    height: 455px;
    order: 0;

    &::before {
      top: 189px;
      right: 43%;
    }
  }

  .process-info {
    font-size: 15px;
    line-height: 2;
    padding-left: 38px;
    order: 2;
  }

  .button--process {
    order: 3;
  }
}
