
.product-week {
  width: 320px;
  margin: -14px;
}

.product-week__topic {
  width: 246px;

  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 34px;
  padding-left: 33px;
  margin: 0;
}

.product-week__banner {
  width: 133px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: #63d1bb;
  text-transform: uppercase;
  padding-left: 29px;
  padding-top: 8px;
  margin: 0;
}

.product-week__info {
  width: 249px;
  height: 63px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: #444444;
  padding-left: 30px;
  padding-top: 30px;
  margin: 0;
}

.product-week__list {
  width: 290px;
  font-size: 15px;
  line-height: 1.33;
  font-weight: normal;
  text-align: left;
  color: #444444;
  padding-top: 34px;
  padding-left: 30px;
}

.product-week__value,
.product-week__field {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  vertical-align: center;
}

.product-week__triple-set {
  margin: 30px;
}

.product-week__price {
  width: 124px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #444444;
  padding-left: 98px;
}

.product-week__order {
  width: 259px;
  height: 52px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  font-size: 18px;
  color: #444444;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 36px;
}
