.reviews {
  width: 320px;
  margin-bottom: 50px;
}

.reviews-title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
}

.reviews-item {
  font-size: 15px;
  text-align: left;
  color: #444444;
  padding-left: 30px;
  padding-right: 25px;
}

.review-author {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
}

.review-author__contact {
  color: #444444;
}

.reviews-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 36px auto;
}
