.reviews {
  width: 320px;
  padding-left: 57px;
  margin-bottom: 44px;
}

.reviews-title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 27px;
}

.reviews-item {
  font-size: 15px;
  text-align: left;
  color: #444444;
  padding-right: 55px;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 27px;
}

.review-author {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  line-height: 1.41;
  margin-bottom: 3px;
}

.review-contact {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.76;
  color: #444444;
}

.reviews-button {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 29px;
  margin-bottom: 36px;
}
