.site-list {
  list-style-type: none;
  font-size: 17px;
  font-weight: bold;
  padding-left: 0;
  margin: 0;
}

.site-list__item {
  padding: 32px 65px 30px 60px;
  border-bottom: 1px solid #ececec;
  margin: 0;
  text-decoration: none;
  color: black;
}

.site-list__link {
  text-decoration: none;
  color: black;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 15px;
    padding: 0;
    order: 2;
  }

  .site-list__item {
    padding: 20px;
  }

  .site-list__item:first-child,
  .site-list__item:nth-child(2) {
    align-self: flex-end;
  }

  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    align-self: flex-start;
  }

  .site-list__item:nth-child(3) {
    margin-left: auto;
  }

  .site-list__item:nth-child(4) {
    margin-left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    font-size: 14px;
    justify-content: center;
    order: 1;
  }

  .site-list__item:first-child,
  .site-list__item:nth-child(2),
  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    align-self: auto;
  }

  .site-list__item:nth-child(2) {
    margin-right: 175px;
  }
}
