.container__title {
  width: 100%;
  text-align: center;
  margin: auto;
}

.title {
  font-size: 27px;
  line-height: 1.11;
  background-color: #f1f1f1;
  padding-top: 71px;
  padding-bottom: 77px;
  padding-left: 35px;
  padding-right: 36px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .container__title {
    position: relative;
    width: 768px;
    font-size: 43px;
    margin-top: -67px;
    border-top: 1px solid #ececec;

    &::after {
      content: "";
      position: absolute;
      top: 91%;

      height: 24px;
      background: url("../../img/bg-zigzag-fill.svg") 0 0 repeat-x;
      background-position: left -2px bottom -12px;
      background-size: cover;
      z-index: 10;
      left: 0;
      right: 0;
    }
  }

  .title {
    font-size: 43px;
    line-height: 1.16;
    padding-top: 96px;
    padding-bottom: 78px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .container__title {
    width: 1150px;
    margin-top: -55px;

    &::after {
      top: 91%;
    }
  }

  .title {
    font-size: 53px;
    line-height: 1.08;
    padding-top: 93px;
    padding-bottom: 108px;
    padding-left: 37px;
  }
}
